[Unit]
Description=VR Headset Hardware Init
After=systemd-udevd.service display-manager.service
Before=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/lib/vr-headset-init/boot-init.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
